body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #121213;
	color: #fff;
	padding: 20px;
}

h1 {
	margin: 0;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

section {
	margin-bottom: 40px;
}

h2 {
	margin-top: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	margin-bottom: 10px;
}

footer {
	background-color: #c0c9cb;
	color: #fff;
	padding: 10px;
	text-align: center;
}
